body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  float: right;
  margin-right: 80px;
}
li {
  float: left;
  padding: 20px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
}

.half-width {
  width: 40%;
  margin: 3%;
  padding: 1%;
  float: left;
}
.half-width img {
  width: 75%;
}

section {
  border: 1px solid green;
  height: 600px;
}

h1 {
  font-size: 50px;
}

.tomato-highlight {
  color: tomato;
}

.link-button {
  background-image: linear-gradient(tomato, rgb(251, 141, 121));
  padding: 10px 40px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

h2 {
  text-align: center;
  font-size: 35px;
}

.project-box img {
  width: 100%;
}

.three-box {
  border: 2px solid red;
  height: 450px;
  margin: 50px 100px;
}

.project-box {
  width: 25%;
  margin: 2%;
  padding: 2%;
  box-shadow: 5px 5px 20px gray;
  border-radius: 20px;
  float: left;
  border: 1px solid red;
}

.banner-image {
  width: 50%;
  height: 25%;
  margin: 100px 50px 50px 350px;
  background-image: url(image/banner.png);
  background-repeat: no-repeat;
  background-size: 675px 150px;
  border: 2px solid blue;
}
.banner-text {
  color: white;
  font-size: 25px;
  margin: 60px 15px;
  width: 30%;
  float: left;
}

.chat-button {
  float: right;
  margin: 55px 40px;
}

.blog-box {
  border: 1px solid blue;
  width: 220px;
  height: 280px;
  margin: 45px 30px;
  padding: 25px;
  box-shadow: 5px 5px 20px gray;
  float: left;
  border-radius: 10px;
}

.blog-box img {
  width: 100%;
}

.read-more {
  margin: 70px;
  text-decoration: none;
}

.footer {
  text-align: center;
}

.icon {
  width: 35px;
  padding: 5px;
}
.icon-box {
  margin: 0 auto;
  padding: 5px;
  width: 11%;
  border: 1px solid red;
}
